.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0 100px 0;
}
input{
    margin: 10px;
}
.form hr{
    color: rebeccapurple;
    width: 100px;
}
